<div class="staking-container d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 100%;">
  <h2>Get your coins ready - Staking coming soon!</h2>
  <h3 id="demo"></h3>
</div>

