.transfer-container {
  margin-top: 40px;
  width: 75%;
  color: white;
  text-align: center;
  position: relative;
  height: 520px;
  overflow: scroll;

  h3 {
    font-weight: 200;
  }

  .transfers {
    margin-top: 96px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 14px;
  }

  .data {
    line-height: 48px;
  }

  .asset-name {
    text-align: left;
    padding-left: 48px;
  }

  .fee {
    padding-right: 24px;
  }

  tr:nth-child(even) {
    background: #5C6494;
  }
  tr:nth-child(odd) {
    background: #0A1C5B;
  }

}

