<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="border-radius: 21px 21px 0px 0px; height: 68px; box-shadow: 0px 0px 3px">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "cryptocurrency.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto" style="margin-bottom: -10px;">
      <% if user_signed_in? %>

      <div class="nav-item active">
          <i class="fas fa-info-circle logo"></i>
          <% link_to "Profile", "#", class: "nav-link" %>
      </div>
        <div class="container box-sizing nav-item">
          <h5>€ 350.05</h5>
          <i class="fas fa-wallet logo"></i>
          <% link_to "Balance", "#", class: "nav-link" %>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</div>
