
<div class="assests-container mt-3">
      <div class="justify-text-center text-center">
          <h1 class="asset">
            <%= image_tag(@asset.logo, size: 34) %>
                  <%= @asset.name %>
          </h1>
      </div>
      <div class="container" style="border: 1px  solid #0A1C5B; width: 500px; height: 320px;">

      </div>
      <div class="container mt-3" style="border-top: 1px white solid; width: 500px; height: 50px;
      border-bottom: 1px white solid; width: 500px; height: 50px;">

      </div>
      <div class="container mt-3" style="border: 1px #0A1C5B solid; width: 500px; height: 100px;">

      </div>
 </div>
