
<div class="assests-container mt-3">
  <div class="col-12 row p-0 m-0">
      <div class="col-lg-7 col-md-7 tw-flex tw-justify-center flex-md-row align middle tw-items-center justify-content-md-start p-0 m-0">
        <img src="/assets/bitcoin-9d385435d6e66abf33f7170520b83c2d17ae4efcdff0248967e30f2b3af51707.png" width="36" height="36">
          <h1 class="mr-md-3 mx-2 mb-md-0 text-3xl font-semibold">
            Bitcoin (BTC)
          </h1>
      </div>
      <div class="col-lg-5 col-md-5 text-center text-md-right mt-md-0 pr-0">
        <div class="text-3xl">

        <span class="no-wrap" data-price-btc="1.0" data-coin-id="1" data-coin-symbol="btc" data-target="price.price" data-price-previous="35662.108">
          $35,662.11
          <span class="live-percent-change ml-1" style="font-size: 20px;">
            <span class="text-danger" data-json="#" data-coin-id="1" data-up-class="text-green" data-down-class="text-danger" data-24h="true" data-target="percent-change.percentage">
              -2.0%
            </span>
        </div>
            <div class="text-2xs text-danger">
            </div>
            <div class="text-muted text-normal">
              <div>
                "1.00000000 BTC"
                <span class="live-percent-change">
                  <span class="text-danger" data-json="#" data-coin-id="1" data-up-class="text-green" data-down-class="text-danger" data-24h="true" data-target>
                    "0.0%"
                    <i class="far fa-level-up" data-icon-up-class="fa-level-up" data-icon-down-class="fa-level-down"></i>
                  </span>
                </span>
              </div>
            </div>
          </span>
        </span>
      </div>
    </div>
  <div class="tw-flex flex-column tw-items-center justify-content picker-container">
    <div class="col-12 row p-0 m-0 mb-2 tw-flex flex-column-reverse flex-sm-row">
      <div class="col-md-9 col-lg-7 p-0">
        <div class="tw-flex flex-column">
          <span class="coin-link-row">Market Cap</span>
            <div class="tw-flex flex-wrap">
              <span class="coin-tag mr-1 text-white font-weight-bold">
                    Rank #1
              </span>
            </div>
          <div class="coin-link-row">
          </div>
            <span class="coin-link-title mr-2">Website</span>
            <div class="tw-flex flex-wrap">
              <a target="_blank" rel="nofollow noopener" class="coin-link-tag" href="https://www.bitcoin.org">bitcoin.org</a>
            </div>
          </div>
          <div class="coin-link-row">
            <span class="coin-link-title mr-2">Explorers</span>
            <div class="tw-flex flex-wrap">
              <a target="_blank" rel="nofollow noopener" class="coin-link-tag" href="https://www.btc.tokenview.com">Tokenview</a>
            </div>
          </div>
          <div class="coin-link-row">
            <span class="coin-link-title mr-2">Wallets</span>
            <div class="tw-flex flex-wrap">
              <a target="_blank" rel="nofollow noopener" class="coin-link-tag" href="https://www.gcko.io/ledger">Ledger</a>
            </div>
          </div>
          <div class="coin-link-row">
            <span class="coin-link-title mr-2">Community</span>
            <div class="tw-flex flex-wrap">
              <a target="_blank" rel="nofollow noopener" class="coin-link-tag" href="https://reddit.com/r/Bitcoin">Reddit</a>
            </div>
          </div>
          <div class="coin-link-row">
            <span class="coin-link-title mr-2">Source Code</span>
            <div class="tw-flex flex-wrap">
              <a target="_blank" rel="nofollow noopener" class="coin-link-tag" href="https://github.com/bitcoin">Github</a>
            </div>
          </div>
          </div>
          <div class="col-md-3 col-lg-5 text-center text-md-right mt-3 mt-md-0 pr-0">
            <div class="tw-flex flex-wrap">
              <div class="justify-content text-align">
                <div class="font-weight-bold">
                  Market Cap
                </div>
                <div class="mt-1">
                  <span class="no-wrap" data-price-btc="18713700.0" data-target="price.price" data-price-previous="667369990479.6">$667,369,990,480</span>
                </div>
              </div>
              <div class="justify-content text-align">
                <div class="font-weight-bold">
                  24 Hour Trading Vol
                </div>
                <div class="mt-1">
                  <span class="no-wrap" data-price-btc="2538034.89777" data-no-decimal="false" data-target="price.price" data-price-previous="90511674632.04271">$90,511,674,632</span>
                </div>
              </div>

              <div class="justify-content text-align">
                <div class="font-weight-bold">
                  Circulating Supply
                  <div class="mt-1">
                    18,720,237 / 21,000,000
                  </div>
                </div>
              </div>
              <div class="justify-content text-align">
                <div class="font-weight-bold">Fully Diluted Valuation</div>
                <div class="mt-1">
                  <span class="no-wrap" data-price-btc="21000000.0" data-target="price.price" data-price-previous="748904268000">$748,904,268,000</span>
                </div>
              </div>
              <div class="justify-content text-align">
                <div class="font-weight-bold">Max Supply</div>
                <div class="mt-1">21,000,000</div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</div>

