<div class="assest-container">

  <h3>Track Coins</h3>

 <table class="assets">
<!--   <ul class="list-group">
    <#% @asset.each do |asset| %>
    <li class="list-group-item"><#%= asset.name %></li>
  <#% end %>
  </ul> -->
  <tr class="data">
    <th>Name</th>
    <th>Value</th>
    <th>Market Cap</th>
    <th>Description</th>
  </tr>
 </table>
</div>
