.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #404877;
  align-items: center;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.other-info {
  align-items: center;
}

.wallet-balance-sum {
  align-items: center;
}

.btn-secondary {
  background-color: #404877;
  border: none;
  align-items: center;

  &:hover {
    background-color: #404877;
  }
}

