.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: #344892;
  align-items: center;
  border-bottom: rgba(255,255,255,0.2) solid  1px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.other-info {
  align-items: center;
}

.wallet-balance-sum {
  align-items: center;
}

.btn-secondary {
  background-color: #344892;
  border: none;
  align-items: center;

  &:hover {
    background-color: #344892;
  }
}

