<div class="new-transfer-container">

  <h3>Transaction History</h3>

  <div class="currency-transfer main-block">
    <div class="currency-transfer-elements d-flex flex-column justify-content-between">
      <div>
        <div class="currency-name"></div>
        <p class="balance"><small>View History:</small></p>
      </div>
    </div>
  </div>
